In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gender.csv - gender.csv.csv")

In [3]:
df.head()

  Favorite Color    Favorite Music Favorite Beverage Favorite Softdrink Gender
0           Cool              Rock             Vodka         7UP/Sprite      F
1        Neutral           Hip hop             Vodka    Coca Cola/Pepsi      F
2           Warm              Rock              Wine    Coca Cola/Pepsi      F
3           Warm  Folk/Traditional           Whiskey              Fanta      F
4           Cool              Rock             Vodka    Coca Cola/Pepsi      F

In [4]:
df.shape

(66, 5)

In [5]:
df.isnull().sum()

Favorite Color        0
Favorite Music        0
Favorite Beverage     0
Favorite Softdrink    0
Gender                0
dtype: int64

# Without encoding Technique

In [6]:
df["Favorite Color"]. head()

0       Cool
1    Neutral
2       Warm
3       Warm
4       Cool
Name: Favorite Color, dtype: object

In [7]:
df["Favorite Color"]. unique()

array(['Cool', 'Neutral', 'Warm'], dtype=object)

In [8]:
df["Favorite Color"].replace(['Cool', 'Neutral', 'Warm'], [0, 1, 2])

0     0
1     1
2     2
3     2
4     0
     ..
61    0
62    0
63    1
64    0
65    0
Name: Favorite Color, Length: 66, dtype: int64

In [9]:
df. head()

  Favorite Color    Favorite Music Favorite Beverage Favorite Softdrink Gender
0           Cool              Rock             Vodka         7UP/Sprite      F
1        Neutral           Hip hop             Vodka    Coca Cola/Pepsi      F
2           Warm              Rock              Wine    Coca Cola/Pepsi      F
3           Warm  Folk/Traditional           Whiskey              Fanta      F
4           Cool              Rock             Vodka    Coca Cola/Pepsi      F

In [10]:
df["Favorite Color"]= df["Favorite Color"].replace(['Cool', 'Neutral', 'Warm'], [0, 1, 2])

df. head()

,Favorite Color,Favorite Music,Favorite Beverage,Favorite Softdrink,Gender
0,0,Rock,Vodka,7UP/Sprite,F
1,1,Hip hop,Vodka,Coca Cola/Pepsi,F
2,2,Rock,Wine,Coca Cola/Pepsi,F
3,2,Folk/Traditional,Whiskey,Fanta,F
4,0,Rock,Vodka,Coca Cola/Pepsi,F

# Label Encoding

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

In [13]:
df["Favorite Music"]= le. fit_transform(df["Favorite Music"])

In [14]:
df.head()

   Favorite Color  Favorite Music Favorite Beverage Favorite Softdrink Gender
0               0               6             Vodka         7UP/Sprite      F
1               1               2             Vodka    Coca Cola/Pepsi      F
2               2               6              Wine    Coca Cola/Pepsi      F
3               2               1           Whiskey              Fanta      F
4               0               6             Vodka    Coca Cola/Pepsi      F

# One Hot Encoding

In [15]:
dummy_var = pd. get_dummies(df["Favorite Beverage"])

In [16]:
dummy_var. head()

   Beer  Doesn't drink  Other  Vodka  Whiskey  Wine
0     0              0      0      1        0     0
1     0              0      0      1        0     0
2     0              0      0      0        0     1
3     0              0      0      0        1     0
4     0              0      0      1        0     0

In [17]:
# dummy_var = pd. get_dummies(df["Favorite Beverage"], drop_first = True)
# dummy_var. head()

In [18]:
df = pd. concat([df, dummy_var], axis= 1)
df. head()

,Favorite Color,Favorite Music,Favorite Beverage,Favorite Softdrink,Gender,Beer,Doesn't drink,Other,Vodka,Whiskey,Wine
0,0,6,Vodka,7UP/Sprite,F,0,0,0,1,0,0
1,1,2,Vodka,Coca Cola/Pepsi,F,0,0,0,1,0,0
2,2,6,Wine,Coca Cola/Pepsi,F,0,0,0,0,0,1
3,2,1,Whiskey,Fanta,F,0,0,0,0,1,0
4,0,6,Vodka,Coca Cola/Pepsi,F,0,0,0,1,0,0


# Ordinal Encoding

In [19]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
df["Favorite Softdrink"]. unique()

array(['7UP/Sprite', 'Coca Cola/Pepsi', 'Fanta', 'Other'], dtype=object)

In [21]:
drinks = ['7UP/Sprite', 'Coca Cola/Pepsi', 'Fanta', 'Other']

In [22]:
 ordi = OrdinalEncoder(categories= [drinks])

In [24]:
ord_fit = ordi. fit_transform(df[["Favorite Softdrink"]])
ord_fit

array([[0.],
       [1.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [2.],
       [2.],
       [1.],
       [1.],
       [0.],
       [1.],
       [3.],
       [3.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [3.],
       [0.],
       [1.],
       [1.],
       [2.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [3.],
       [1.],
       [1.],
       [0.],
       [3.],
       [1.],
       [1.],
       [1.],
       [3.],
       [2.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [3.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [1.]])

# Hashing

In [26]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: pandas>=0.21.1 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.2.4)
Requirement already satisfied: patsy>=0.5.1 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (1.20.1)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\user\anaconda3\lib\site-packages (from category_encoders) (0.24.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [27]:
import category_encoders as ce

In [28]:
enco = ce. HashingEncoder(cols= "Gender")

In [29]:
enco. fit_transform(df["Gender"])

    col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0       0      0      1      0      0      0      0      0
1       0      0      1      0      0      0      0      0
2       0      0      1      0      0      0      0      0
3       0      0      1      0      0      0      0      0
4       0      0      1      0      0      0      0      0
..    ...    ...    ...    ...    ...    ...    ...    ...
61      0      0      0      0      1      0      0      0
62      0      0      0      0      1      0      0      0
63      0      0      0      0      1      0      0      0
64      0      0      0      0      1      0      0      0
65      0      0      0      0      1      0      0      0

[66 rows x 8 columns]

In [31]:
df. shape

(66, 11)